.novedadesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoContainer {
  position: relative;
  width: 100vw;      /* 🔹 Ancho completo de la ventana */
  height: 70vh;      /* Altura ajustable */
  overflow: hidden;
  margin-left: calc(-50vw + 50%); /* 🔹 Centrar el video al usar width: 100vw */
}

.novedadesVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 74%; /* Ajusta verticalmente */
  transform: scale(1.01);      /* Zoom muy suave */
}


.novedadesTitle {
  position: absolute;
  bottom: 20px; /* Lo llevamos abajo */
  left: 20px; /* Esquina izquierda */
  font-size: 3rem;
  font-weight: bold;
  color: black; /* Texto negro */
  background: rgba(255, 255, 255, 0.6); /* Fondo semitransparente */
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Playfair Display', serif;
}

.novedadesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 2rem;
  width: 90%;
}

.novedad {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: black;
}

.novedadImageContainer {
  position: relative;
}

.novedad img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.novedadCategory {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #5B7F66;
  color: white;
  padding: 2px 8px;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 4px;
}

.novedadCaption {
  padding: 0.5rem;
  font-weight: bold;
}
