.cardsContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
   
}


.card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 1.5rem;
  width: 280px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}


.cardDark {
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
}

.cardGreen {
  background: rgba(40, 167, 69, 0.65);
  color: #fff;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.iconRed { color: #ff4d4d; font-size: 1.5rem; }
.iconBlue { color: #4d79ff; font-size: 1.5rem; }
.iconGreen { color: #28a745; font-size: 1.5rem; }
.iconWhite { color: #fff; font-size: 1.5rem; }

.logoSmall {
  width: 100px;
  margin-top: 0.5rem;
}
