@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/NeueMachina-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* CONTENEDOR GENERAL → ACÁ VA EL FONDO */
.pageContainer {
  width: 100%;
  min-height: 100vh;
  font-family: "Neue Machina", sans-serif;
  background: linear-gradient(135deg, #7b7a7a, #ffffff);
}

/* HERO */
.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background: transparent;
  /* IMPORTANTE */
}

/* TEXTO */
.content {
  max-width: 600px;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  color: #4a3728;
  margin-bottom: 2rem;
}

.divider {
  width: 420px;
  height: 1px;
  background-color: #6b5b4b;
  margin-bottom: 2rem;
}
.divider2 {
  width:auto;
  height: 1px;
  background-color: #6b5b4b;
  margin-bottom: 2rem;
  display: flex;
}
.subtitle {
  font-size: 1.2rem;
  color: #4a3728;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 14rem;
  margin-top: 23rem;
}

.logo {
  width: 480px;
  max-width: 100%;
}

/* SECCIÓN DE CARDS */
.cardsSection {
  width: 100%;
  padding: 4rem 2rem 6rem;
  display: flex;
  justify-content: center;
  background: transparent;
  /* MISMO FONDO */
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 4rem 2rem;
  }

  .divider {
    margin: 2rem auto;
    width: 280px;
  }
   .divider2 {
    margin: 2rem auto;
    width: 280px;
  }
}